<div id="copyright-container">
    <hr />
    <div class="d-flex">
        <small><a title="Legal" href="/legal">&copy; 2025</a></small>
        <small class="ms-auto"><a title="Back to Top" href="#top">Back to Top</a></small>
    </div>
</div>
