/* Font variables */
$font-prefix: "../fonts";
$fa-font-path: $font-prefix;


/* Bootstrap variables */

/* Options */
$enable-negative-margins: true;
$enable-rfs: false;

/* Themes */
$colors: ();
$theme-colors: ();

/* Fonts */
@if variable-exists(font-family-sans-serif) {
    $font-family-sans-serif: join("IBM Plex Sans", $font-family-sans-serif)
}

$font-size-base: .875rem;
$small-font-size: 80%;
$font-weight-normal: 450;
$font-weight-base: $font-weight-normal;

/* hr */
$hr-opacity: 1;

/* Headings */
$h-font-size-base: 0.75rem;
$h1-font-size: $h-font-size-base * 2.5;
$h2-font-size: $h-font-size-base * 2;
$h3-font-size: $h-font-size-base * 1.75;
$h4-font-size: $h-font-size-base * 1.5;
$h5-font-size: $h-font-size-base * 1.25;
$h6-font-size: $h-font-size-base;

$headings-font-weight: 600;
