$bg: #000;
$fg: #E0E0E0;

$accent: #212121;
$accent-link: #F57F17;
$accent-link-hover: #E0E0E0;
$accent-link-container-hover: #424242;

$border: rgba(255, 255, 255, 0.333);
$hr: rgba(255, 255, 255, 0.1);
$link: #F57F17;
$link-hover: #E0E0E0;

$fig-caption-fg: rgba(255, 255, 255, 0.666);

/* Code colours */
$code-bg: #1D1F21;
$code-fg: #C5C8C6;
$code-black: #1D1F21;
$code-red: #CC6666;
$code-green: #B5BD68;
$code-yellow: #F0C674;
$code-blue: #81A2BE;
$code-purple: #B294BB;
$code-cyan: #8ABEB7;
$code-white: #C5C8C6;

@import "./style";
