@import "./variables";

@font-face {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 600;
    src: local("IBM Plex Sans SemiBold"),
         local("IBMPlexSans-SemiBold"),
         url("#{$font-prefix}/IBMPlexSans-SemiBold.woff2") format("woff2"),
         url("#{$font-prefix}/IBMPlexSans-SemiBold.woff") format("woff"),
         url("#{$font-prefix}/IBMPlexSans-SemiBold.ttf") format("truetype");
    font-display: swap;
}


@font-face {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 500;
    src: local("IBM Plex Sans Medium"),
         local("IBMPlexSans-Medium"),
         url("#{$font-prefix}/IBMPlexSans-Medium.woff2") format("woff2"),
         url("#{$font-prefix}/IBMPlexSans-Medium.woff") format("woff"),
         url("#{$font-prefix}/IBMPlexSans-Medium.ttf") format("truetype");
    font-display: swap;
}


@font-face {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 450;
    src: local("IBM Plex Sans Text"),
         local("IBMPlexSans-Text"),
         url("#{$font-prefix}/IBMPlexSans-Text.woff2") format("woff2"),
         url("#{$font-prefix}/IBMPlexSans-Text.woff") format("woff"),
         url("#{$font-prefix}/IBMPlexSans-Text.ttf") format("truetype");
    font-display: swap;
}
